@import 'tailwindcss';

@theme {
  --font-display: 'Inter';
  --color-grey-300: #c5c6ce;
  --color-grey-200: #c5c6ce;
  --color-navy-950: #00001a;
  --color-navy-600: #5e607a;
  --color-gold-400: #e9aa52;
  --color-red-500: #f15d51;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

@layer components {
  .text-preset-1 {
    @apply text-[56px] leading-[56px] font-extrabold;
  }

  .text-preset-2 {
    @apply text-[40px] leading-[40px] font-extrabold;
  }

  .text-preset-3 {
    @apply text-[32px] leading-[32px] font-bold;
  }

  .text-preset-4 {
    @apply text-[20px] leading-[24px] font-extrabold;
  }

  .text-preset-5 {
    @apply text-[18px] leading-[24px] font-extrabold;
  }

  .text-preset-6 {
    @apply text-[15px] leading-[26px] font-normal;
  }

  .text-preset-7 {
    @apply text-[14px] leading-[24px] font-bold tracking-[4.38px];
  }

  .menu-item {
    @apply text-navy-600 transition-all duration-150;
  }

  .menu-item:hover {
    @apply text-red-500;
  }
}

div.hamburger-react {
  height: 30px !important;
  width: 30px !important;
}

div.hamburger-react > div > div {
  left: 0 !important;
}
div.hamburger-react > div:nth-child(1) > div {
  top: 1px !important;
}

div.hamburger-react > div:nth-child(2) > div {
  top: 11px !important;
}

div.hamburger-react > div:nth-child(3) > div {
  top: 21px !important;
}
