@import 'tailwindcss';

@theme {
  --font-display: 'Inter';
  --color-grey-300: #c5c6ce;
  --color-grey-200: #c5c6ce;
  --color-navy-950: #00001a;
  --color-navy-600: #5e607a;
  --color-gold-400: #e9aa52;
  --color-red-500: #f15d51;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100-900;
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
